
body {
    padding: 10;
    margin: 30px 40px 30px 40px;
    font-family: Arial, Helvetica, helvetica Neue, sans-serif;
    font-size: 18px;
    color: #777;
    background: #777;
  }
  
  #header {
      background: #ebebeb;
      width:956px;
      text-align: center;
      height:100px;
      margin-left: 450px;
      margin-bottom: 50px;
  }
  #nav {  
    background: #ebebeb;
    width:956px;
    text-align: center;
    height:100px;
    margin-left: 450px;
    margin-bottom: 50px;
  }

  section.parent{
    width:956px;
    margin-left:450px;
    margin-bottom: 20px;
  }
  section.left{
    width:500px;
    height:400px;
    text-align: center;
    background: #ebebeb;
    float: left;
  }
  section.right{
    width:400px;
    height:400px;
    background: #ebebeb;
    float: right;
  }
  section.parent.left.right {
        width:300px;  
        height:300px;
        text-align: center;
        color: #ebebeb;
        background: #777;
        float: left;

  }

  #foot {
      background: #ebebeb;
      width:956px;
      text-align: center;
      height:100px;
      margin-left: 450px;
      margin-top: 500px;
      border: 20px 20px 20px 20px;
  }
  
